body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.outercontainer{
    width: 50vw;
    height: 50vh;
    border: 0.2rem solid red;
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: center;
    border-radius: 0.5rem;
}
.outercontainer button{
    font-size: 2em;
    color: white;
    width: 30%;
    height: 30%;
    background-color: black;
    margin-right: 2px;
    border-radius: 10px;
}
button:hover{
    transform: scale(1.1);
}
#paragraph{
    font-size: 2rem;
}
@media (min-width: 700px){
    .outercontainer{
        width: 40vw;
        
    }
}
@media (max-width: 700px){
    .outercontainer{
        width: 80vw;
        
    }
}